* {
  padding: 0;
  margin: 0;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.hero-section {
  background-image: url('../public/images/hero.jpg'); /* The image used */
  background-color: #000; /* Used if the image is unavailable */
  min-height: 80vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-section h1 {
  color: #fff;
  font-size: 50px;
}

.hero-section p {
  color: #fff;
  font-size: 1.5em;
}
